*{
    margin: 0;
    padding: 0;
}

.container{
    width: 75%;
    margin: 20px auto;
    background-color: beige;
    padding: 20px;
}
table{
    text-align: start;
    width: 100%;
}
th{
    text-align: left;
}
ul,ol{
    margin-left: 50px;
}
